/* Anuncios Block */
.anuncios {
    margin: auto;
    padding: 0 2rem;
    margin-top: 50px;
}

/* Group Element within Anuncios Block */
.anuncios__group {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* List within Group Element */
.anuncios__group ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Advertisement Button */
.anuncios__btn {
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    box-sizing: border-box;
    transition: all 0.35s;
    font-size: 1.2rem;
    background-color: #1a1a1a;
    color: #fff;
    margin-right: 1rem;
    margin-top: 0.5rem;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.anuncios__btn span {
    position: relative;
    z-index: 2;
}

.anuncios__btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00a8ff;
    transition: all 0.35s;
}

.anuncios__btn:hover {
    color: #1a1a1a;
}

.anuncios__btn:hover:after {
    width: 100%;
}

/* Heading within Anuncios Block */
.anuncios__heading {
    font-size: clamp(2rem, 5vw, 3rem); /* Responsive font size */
    letter-spacing: -1px;
}

.anuncios__heading span {
    color: #00a8ff;
}

/* Image within Anuncios Block */
.anuncios__image {
    width: 50%;
    height: 100%;
}
.anuncios__image img {
    width: 100%; /* Adjust width to fit the container */
    max-width: 100%; /* Ensure image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the container */
    border-radius: 10px; /* Optional: Add rounded corners to the image */
    transform: rotateY(180deg);
}

/* Media Queries */
@media (max-width: 1200px) {
    .anuncios__group {
        flex-direction: column; /* Stack the list and image vertically on smaller screens */
        gap: 1rem; /* Reduce gap between list and image */
    }
}
@media (max-width: 768px) {
    .anuncios__heading {
        font-size: clamp(1.5rem, 4vw, 2rem); /* Responsive font size for smaller screens */
    }

    .anuncios__btn {
        font-size: clamp(1rem, 3vw, 1.2rem); /* Responsive font size for buttons */
    }
}
