.anuncios{
    margin: auto;
    padding: 0 2rem;
    margin-top: 50px;
}

.anuncios .group{
    display: flex;
    width: 100%;
    justify-items: center;
    justify-content: center;
}
.anuncios .group ul {
    list-style-type: none;
}
.ad-btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    background-color: #1a1a1a;
    color: #fff;
    margin-right: 1rem;
    margin-top: 0.5rem;
    padding: 1.5rem;
    transition: all .35s;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
}

.ad-btn span{
    position: relative;
    z-index: 2;
}

.ad-btn:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00a8ff;
    transition: all .35s;
}

.ad-btn:hover{
    color: #1a1a1a;
}

.ad-btn:hover:after{
    width: 100%;
}
.anuncios > div > div {
    width: 40%;
    grid-area: left;
}
.anuncios h3{
    font-size: 3rem;
    letter-spacing: -1px;
    margin: 2rem auto;
    width: 61%;
}