---
import { peopleImage } from "@assets/images/imagePaths";
import './Announcements.css';
import { Image } from 'astro:assets';
---

<section class="anuncios">
    <h3>No solo somos herramientas,  <br> ¡Somos aliados para tu industria!</h3>
    <article class="group">
        <ul>
            <li>
                <a class="ad-btn" href="#"><span>¡Conoce nuestro conversor de unidades! <i class="fas fa-arrow-right"></i></span></a>
            </li>
            <li>
                <a class="ad-btn" href="#"><span>¡Conoce nuestro conversor de unidades! <i class="fas fa-arrow-right"></i></span></a>
            </li>
            <li>
                <a class="ad-btn" href="#"><span>¡Conoce nuestro conversor de unidades! <i class="fas fa-arrow-right"></i></span></a>
            </li>    
        </ul>
        <figure>
            <Image src={peopleImage.person1} alt="Chica señalando hacia arriba"  width={500} height={500}/>
        </figure>
    </article>
    
    
</section>