.services{
    display: flex;
    align-items: center;
    justify-content: center;
}
.services h3{
    font-size: 3rem;
}
.services ul{
    list-style: none;
}
.services li{
    font-size: 1.2rem;
    padding: 1rem;
    background-color: #1a1a1a;
    letter-spacing: 1px;
    margin: 2px;
}
.top {
    clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 10px));
}
.bottom {
    clip-path: polygon(0 0,100% 10px,100% 100%,0 100%);
    margin-top: -10px;
}
.top2 {
    clip-path: polygon(0 0,100% 0,100% calc(100% - 10px),0 100%);
}
.bottom2 {
    clip-path: polygon(0 10px,100% 0,100% 100%,0 100%);
    margin-top: -10px;
}