.services{
    display: flex;
    align-items: center;
    justify-content: center;
}
.services h3{
    font-size: 3rem;
}
.services ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.services ul li{
    padding: 1rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    background-color: #044197;
    border-radius: 10px;
}