---
import Carousel3D from '@components/carousel/Carousel3D.astro'
import '@components/brand/Brand.css'
---
<section class="brand">
    <h2>Nuestra Marca</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores culpa, dolorum rem impedit praesentium mollitia repellendus perspiciatis nulla fugiat! Dolore quia animi voluptatem nam est. Neque laudantium recusandae qui in.</p>
    <Carousel3D/>
</section>