---
import Carousel3D from '@components/carousel/Carousel3D.astro'
import '@components/brand/Brand.css'
---
<section class="section brand">
    <h2 class="brand__heading">Nuestra Marca</h2>
    <p class="brand__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores culpa, dolorum rem impedit praesentium mollitia repellendus perspiciatis nulla fugiat! Dolore quia animi voluptatem nam est. Neque laudantium recusandae qui in.</p>
    <Carousel3D/>
</section>