body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Roboto, Arial, sans-serif;
    color: #fff;
}
.header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
}

.logo img{
    width: 100px;
}

nav {
    display: flex;
    gap: 1rem;
}
#background-video {
    width: 50%;
    height: 70vh;
    object-fit: cover;
    --p: 100px; /* control the shape (can be percentage) */
    aspect-ratio: 3/2;
      clip-path: polygon(var(--p) 0,100% 0,100% 100%,0 100%);
    margin-left: -15%;
}
.nav a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.search-bar{
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    outline: none; /* Quitar el contorno predeterminado */
}
.search-bar::after {
    position: absolute;
    right: 0.5rem;
    content: "\f002";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #1a1a1a;
}

.login-btn {
    background-color: #00a8ff;
    color: #1a1a1a;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.header .group{
    display: flex;
    gap: 5px;
}
section{
    margin: auto;
    max-width: 80vw;
    padding: 0 2rem;
}
/* Estilo del héroe */
.hero {
    color: #fff;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    position: relative;
    overflow: hidden;
    margin-right: 0;
    padding-right: 0;
    max-width: 90vw;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    height: 100%;
}

.hero-content > div {
    max-width: 70%;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    letter-spacing: -1px;
}

.hero h1 span {
    color: #00a8ff;
}
p{
    font-size: 1.2rem;
}
.hero p {
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 2rem;
    width: 70%;
}

.cta-btn, .cta-btn-2 {
    display: inline-block;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.cta-btn {
    font-size: 1.1rem;
    background-color: #00a8ff;
    color: #1a1a1a;
}

.cta-btn-2 {
    font-size: 1.1rem;
    background-color: #1a1a1a;
    color: #fff;
    margin-right: 1rem;
}
@media (max-width: 1250px) {
    section{
        max-width: 100vw;
    }
    .hero{
        padding-right: 0;
    }
    .hero h1 {
        font-size: 3rem;
    }
    #background-video {
        width: 45%;
        margin-left: -10%;
    }
    
    .hero p{
        font-size: 1.2rem;
        text-align: left;
    }
    p{
        font-size: 1rem;
    }
}
/* Estilo de estadísticas */
.stats {
    background-color: rgba(26, 26, 26, 0.7); /* Usar rgba para una transparencia sutil */
    /*background-color: #ffffffbe;
    color: #1a1a1a;*/
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    max-width:  100%;
}

.stat-item {
    text-align: center;
    margin: 5px;
}
h2{
    font-style: italic;
    font-size: 2.3rem;
    transform: skew(-5deg, 0);
    margin-bottom: -10px;
}
.stat-item h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.stat-item p {
    margin: 0;
}

/* Botón sticky */
.sticky-btn {
    position: fixed;
    left: 20px;
    bottom: 100px;
    background-color: #0d912b;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.sticky-btn:hover {
    background-color: #0a7a23; /* Color más oscuro al pasar el ratón */
}

.sticky-btn i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

/* Icono de teléfono */
.phone-icon::before {
    content: "\f095"; /* Código del icono de teléfono en FontAwesome */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
footer{
    width: 100%;
}