* {  
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Roboto, Arial, sans-serif;
    color: #fff;
    font-size: 16px;
}


@media (max-width: 1400px) {
    html {
      font-size: 1.2rem;
    }
}
  
/* Tabletas*/ 
@media (max-width: 768px) {
    html {
        font-size: 1rem;
    }
}

/* Celulares*/ 
@media (max-width: 450px) {
    html {
        font-size: 0.75rem;
    }
}

.header {
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
}

.logo img{
    object-fit: contain;
}

nav {
    display: flex;
    gap: 1rem;
}

#background-video {
    width: 50%;
    height: 70vh;
    object-fit: cover;
    --p: 3rem;
    aspect-ratio: 3 / 2;
    clip-path: polygon(var(--p) 0, 100% 0, 100% 100%, 0 100%);
    margin-left: -1rem;
}

.nav a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.search-bar{
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 0.5rem;
    border-radius: 0.625rem;
    border: none;
    outline: none;
}

.login-btn {
    background-color: #00a8ff;
    color: #1a1a1a;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-weight: bold;
}

.header .group {
    display: flex;
    gap: 0.3125rem;
}

section {
    margin: auto;
    max-width: 80vw;
    padding: 0 2rem;
}

.hero {
    color: #fff;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    position: relative;
    overflow: hidden;
    max-width: 90vw;
    padding-right: 0;
    margin-right: 0;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    letter-spacing: -0.0625rem;
}

.hero h1 span {
    color: #00a8ff;
}

p {
    font-size: 1.2rem;
}

.hero p {
    text-align: justify;
    margin-bottom: 2rem;
    width: 70%;
}

.cta-btn, .cta-btn-2 {
    display: inline-block;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.3125rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    word-spacing: 2px;
}

.cta-btn {
    background-color: #00a8ff;
    color: #1a1a1a;
}

.cta-btn-2 {
    background-color: #1a1a1a;
    color: #fff;
    margin-right: 1rem;
}
/* Estilo de estadísticas */
.stats {
    background-color: rgba(26, 26, 26, 0.7);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.stat-item {
    text-align: center;
    margin: 0.3125rem;
}

h2 {
    font-style: italic;
    font-size: 2.3rem;
    margin-bottom: -0.625rem;
}

.stat-item h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.3125rem;
}

.stat-item p {
    margin: 0;
}

/* Botón sticky */
.sticky-btn {
    position: fixed;
    left: 1.25rem;
    bottom: 6.25rem;
    background-color: #0d912b;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.sticky-btn:hover {
    background-color: #0a7a23;
}

.sticky-btn span {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

@media (max-width: 1400px) {
    .hero h1 {
        font-size: 2.5rem;
    }
}
  
/* Tabletas*/ 
@media (max-width: 1024px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    .hero{
        margin: 0;
        padding: 0;
        flex-direction: column;
        max-width: 100vw;
    }
    .hero-content{
        padding: 2rem;
    }
    
    #background-video {
        width: 100%;
        height: 25vh;
        object-fit: cover;
        --p: 2rem;
        margin-left: 0;
    }
}

/* Celulares*/ 
@media (max-width: 450px) {
    .hero h1 {
        font-size: 2rem;
    }
    .hero{
        margin: 0;
        padding: 0;
        flex-direction: column;
        max-width: 100vw;
    }
    .hero-content{
        padding: 2rem;
    }
    .hero-content p{
        width: 100%;
        font-size: 1rem;
    }
    
}