* {  
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Roboto, Arial, sans-serif;
    color: #fff;
    font-size: 16px;
}


@media (max-width: 1400px) {
    html {
      font-size: 1.2rem;
    }
}
  
/* Tabletas*/ 
@media (max-width: 768px) {
    html {
        font-size: 1rem;
    }
}

/* Celulares*/ 
@media (max-width: 450px) {
    html {
        font-size: 0.75rem;
    }
}


section {
    margin: auto;
    max-width: 80vw;
    padding: 0 2rem;
}


p {
    font-size: 1.2rem;
}

.primary-button, .secondary-button {
    display: inline-block;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.3125rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    word-spacing: 2px;
}

.primary-button {
    background-color: #00a8ff;
    color: #1a1a1a;
}

.secondary-button {
    background-color: #1a1a1a;
    color: #fff;
    margin-right: 1rem;
}
/* Estilo de estadísticas */
.stats {
    background-color: rgba(26, 26, 26, 0.7);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.stat-item {
    text-align: center;
    margin: 0.3125rem;
}

.brand h2 {
    font-style: italic;
    font-size: 2.3rem;
    margin-bottom: -0.625rem;
}

.stat-item h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.3125rem;
}

.stat-item p {
    margin: 0;
}

/* Botón sticky */
.sticky-btn {
    position: fixed;
    left: 1.25rem;
    bottom: 6.25rem;
    background-color: #0d912b;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.sticky-btn:hover {
    background-color: #0a7a23;
}

.sticky-btn span {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}
