/* Bloque contenedor principal del carrusel */
.carousel__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bloque del contenedor del carrusel */
.carousel {
    position: relative;
    width: 850px;
    height: 300px;
    overflow: hidden;
    perspective: 1100px;
    user-select: none;
    transform: rotateY(0deg);
}

/* Elemento del carrusel que contiene todos los ítems */
.carousel__items {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: rotateY(0deg);
}

/* Elemento del ítem del carrusel */
.carousel__item {
    position: absolute;
    width: 250px;
    height: 160px;
    left: 50%;
    top: 50%;
    margin-left: -125px;
    margin-top: -75px;  
    background-color: #044197;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform-origin: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modificadores para ítems a la izquierda y derecha */
.carousel__item--left {
    position: absolute;
    width: 50px;
    height: 100px;
    top: 60%;
    margin-top: -75px;  
    background-color: #044197;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform-origin: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate3d(0, 1, 0, -45deg);
}

.carousel__item--right {
    position: absolute;
    width: 50px;
    height: 100px;
    right: 0;
    top: 60%;
    margin-top: -75px;  
    background-color: #044197;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform-origin: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate3d(0, 1, 0, 45deg);
}

/* Elemento de imagen dentro del ítem del carrusel */
.carousel__item-image {
    height: 100%;
    object-fit: cover;
}

/* Bloque del texto dentro del ítem del carrusel */
.carousel__item-text {
    padding: 16px;
    color: #ffffff;
    text-align: left;
    flex: 1;
    user-select: all;
}

/* Estilo del enlace dentro del texto del ítem del carrusel */
.carousel__item-text a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 600;
}

/* Modificador para ítems enfocados */
.carousel__item--focus {
    transform: scaleX(0.5);
}


