---
import '@components/courierService/CourierServices.css'
---

<section class="shipping">
    <h3>Opciones de Envío</h3>
    <ul class="shipping-options">
        <li class="shipping-option">
            <img src="https://enviatodo.com/wp-content/uploads/2023/11/paqueteexpress.png.webp" alt="Envío Exprés">
            <h4>Paquetexpress</h4>
            <p>Entrega en 24-48 horas. Ideal para envíos urgentes.</p>
        </li>
        <li class="shipping-option">
            <img src="https://www.tresguerras.com.mx/3G/assets/img/LOGO_ROJO.webp" alt="Envío Económico">
            <h4>Tresguerras</h4>
            <p>Entrega en 5-7 días. Opción más asequible.</p>
        </li>
        <li class="shipping-option">
            <img src="https://amcargo.aeromexico.com/static/media/logo_AMC.eb9fdbca2515cbc364d45b96bcae8ac1.svg" alt="Envío Internacional">
            <h4>Aeromexico cargo</h4>
            <p>Entrega en 1-2 semanas. Envíos a nivel global.</p>
        </li>
        <li class="shipping-option">
            <img src="https://dy0k519lz9qje.cloudfront.net/imagenes/Paqueteria-DEV/af814e20-5c53-11eb-b1a8-45d9b7f51d9c.webp" alt="Envío el Mismo Día">
            <h4>Flecha amarilla</h4>
            <p>Entrega en el mismo día para pedidos realizados antes de las 12 PM.</p>
        </li>
        <li class="shipping-option">
            <img src="https://www.castores.com.mx/assets/images/logo-castores.svg" alt="Recogida en Tienda">
            <h4>Castores</h4>
            <p>Recoge tu pedido en nuestra tienda física sin coste adicional.</p>
        </li>
        <li class="shipping-option">
            <img src="https://web.didiglobal.com/_next/image/?url=%2Fimages%2Flogos%2Fdidi-logo.svg&w=96&q=75" alt="Mensajería">
            <h4>DiDi</h4>
            <p>Servicio personalizado para envíos locales y rápidos.</p>
        </li>
        <li class="shipping-option">
            <h4>Hable con nosotros</h4>
            <p>Acordar sobre su paqueteria de preferencia.</p>
        </li>
    </ul>
</section>
