---
import Layout from '@layouts/Layout.astro'
import '../styles/index.css'
import Waves from '@components/main/Waves.astro'
import Announcements from '@components/announcements/Announcements.astro'
import Footer from '@components/footer/Footer.astro'
import Header from '@components/header/Header.astro'
import Hero from '@components/hero/Hero.astro'
import ContactButton from '@components/contact/ContactButton.astro'
import Stats from '@components/Stats/Stats.astro'
import Brand from '@components/brand/Brand.astro'
import Testimonials from '@components/testimonials/Testimonials.astro'
import Services from '@components/services/Services.astro'
import CourierServices from '@components/courierService/CourierServices.astro'
---

<Layout title="AironTools">
	<Header/>
	<main>
		<!--Boton de contacto flotante -->
		<ContactButton/>
		<!--Fondo de olas -->
		<Waves/>   
		<!--Contenido de la página -->
		<Hero/>             
		<Stats/>            
		<Brand/>         
		<Announcements/>        
		<Services/>        
		<Testimonials/>    
		<CourierServices/>
		<!--<ContactUs/>-->             
		<Footer/>           
	</main>
</Layout>
