---
import Layout from '@layouts/Layout.astro'
import '../styles/index.css'
import Waves from '@components/main/Waves.astro'
import Carousel3D from '@components/carousel/Carousel3D.astro'
import Announcements from '@components/announcements/Announcements.astro'
import Footer from '@components/footer/Footer.astro'
import {heroVideo} from '../assets/videos/videoPaths'
import { Image } from 'astro:assets'
import PhoneIcon from './PhoneIcon.astro'
import SearchIcon from './SearchIcon.astro'
---

<Layout title="AironTools">
	<header class="header">
        <div class="logo">
			<Image src="/logos-airontools/logo-color.png" alt="logoAironTools" width={100} height={100}>
		</div>
        <nav class="nav">
            <a href="#">Herramientas <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg></a>
            <a href="#">Servicios y soluciones <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg></a>
        </nav>
        <div class="group">
            <div class="search-bar">
                <input type="text" placeholder="Buscar">
                <SearchIcon/>
            </div>
            <button class="login-btn">Iniciar Sesión</button>
        </div>
    </header>

	<main>
		<Waves/>
		<a href="tel:+123456789" class="sticky-btn">
            <span><PhoneIcon> </span>Contacto
        </a>
        <section class="hero">
            <div class="hero-content">
                <h1>LAS <span>HERRAMIENTAS</span> ELEGIDAS <br> POR LOS <span>PROFESIONALES</span></h1>
                <p>En AIRON TOOLS nos dedicamos a la fabricación especializada de Herramientas Neumáticas Industriales y Equipos de Torque, así como sus accesorios.</p>
                <a href="#" class="cta-btn">¡COTIZA AHORA!</a>
                <a href="#" class="cta-btn-2">Más información</a>
			</div>
            <video id="background-video" controls autoplay loop muted>
            <source src={heroVideo} type="video/mp4">
            Tu navegador no puede reproducir este video
            </video>
        </section>
        <section class="stats">
            <div class="stat-item">
                <h2>+20 Años</h2>
                <p>Años de experiencia</p>
            </div>
            <div class="stat-item">
                <h2>+500 Modelos</h2>
                <p>Modelos de herramientas</p>
            </div>
        </section>
		<section class="brand">
			<h2>Nuestra Marca</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores culpa, dolorum rem impedit praesentium mollitia repellendus perspiciatis nulla fugiat! Dolore quia animi voluptatem nam est. Neque laudantium recusandae qui in.</p>
			<Carousel3D/>
		</section>
		<Announcements/>
		<Footer/>
	</main>
</Layout>
