.sticky-btn {
    position: fixed;
    left: 20px;
    bottom: 1rem;
    background-color: #13e744;
    padding: 0.75rem 0.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: background-color 0.3s ease;
    color: #ffffff;
    text-align: center;
    flex-direction: column;
}

/* Sticky Button Hover Effect */
.sticky-btn:hover {
    background-color: #0a7a23;
}

/* Sticky Button Icon */
.sticky-btn__icon {
    font-size: .8rem;
}

/* Responsive Styles for screens up to 1400px */
@media (max-width: 1400px) {
    .sticky-btn {
        margin-left: -10px;
    }

    .sticky-btn__icon {
        margin-right: 0;
    }

    .sticky-btn__text {
        display: none;
    }
}

@media (max-width: 450px) {
    .sticky-btn {
        left: 85vw;
        bottom: 20vh;
    }

}