---
import PhoneIcon from './PhoneIcon.astro'
import '@components/contact/ContactButton.css'
---
<a href="tel:+123456789" class="sticky-btn">
    <span class="icon"><PhoneIcon> </span> 
    <span class="text">Contacto</span>
</a>