---
import { Image } from 'astro:assets'
import SearchIcon from './SearchIcon.astro'
import '@components/header/Header.css'
---

<header class="header">
    <div class="logo">
        <Image src="/logos-airontools/logo-color.png" alt="logoAironTools" width={100} height={100}>
    </div>
    <nav class="nav">
        <a href="#" >Herramientas <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg></a>
        <a href="#">Servicios y soluciones <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg></a>
    </nav>
    <div class="group">
        <div class="search-bar">
            <input type="text" placeholder="Buscar">
            <SearchIcon/>
        </div>
        <button class="login-btn">Iniciar Sesión</button>
    </div>
</header>