---
import ImageCard from "./ImageCard.astro";
import { categoryImages } from "@assets/images/imagePaths";
import './Carousel3D.css'
const {balancines, dados, neumatica, torque} = categoryImages;
---

<section class="contenedor">
    <article id="carousel-container" class="carousel-container">
        <ul id="carousel" class="carousel">
            <ImageCard imageSrc={balancines} imageAlt='Herramientas de balancines' imageTitle='Herramientas de balancines' />
            <ImageCard imageSrc={dados} imageAlt='Herramientas de dados' imageTitle='Herramientas de dados' />
            <ImageCard imageSrc={neumatica} imageAlt='Herramientas de neumatica' imageTitle='Herramientas de neumatica' />
            <ImageCard imageSrc={torque} imageAlt='Herramientas de torque' imageTitle='Herramientas de torque' />
        </ul>
        <div class="carousel-item-left"></div>
        <div class="carousel-item-right"></div>
    </article>
</section>


<script src='./Carousel3D.js'></script>