---
import Image from "astro/components/Image.astro";

const {imageSrc, imageAlt, imageTitle} = Astro.props;
---
<figure class="carousel-item">
    <Image src={imageSrc} alt={imageAlt}  width={100} height={100}/>
    <div class="text">
        <h3>{imageTitle}</h3>
    </div>
</figure>