---
import FacebookIcon from "./FacebookIcon.astro";
import LinkedinIcon from "./LinkedinIcon.astro";
import UpArrowIcon from "./UpArrowIcon.astro";
import YoutubeIcon from "./YoutubeIcon.astro";
import '@components/footer/Footer.css'
---
<footer class="footer">
    <section class="footer__section">
        <h3 class="footer__section-title">Productos</h3>
        <ul class="footer__section-list">
            <li class="footer__section-list-item">Herramientas de torque</li>
            <li class="footer__section-list-item">Herramientas eléctricas</li>
            <li class="footer__section-list-item">Herramientas especiales</li>
            <li class="footer__section-list-item">Unidades de mantenimiento</li>
            <li class="footer__section-list-item">Instalación neumática</li>
        </ul>
    </section>
    <section class="footer__section">
        <h3 class="footer__section-title">Soporte</h3>
        <ul class="footer__section-list">
            <li class="footer__section-list-item">Catálogo</li>
            <li class="footer__section-list-item">Manuales y fichas técnicas</li>
            <li class="footer__section-list-item">Servicio y soporte</li>
            <li class="footer__section-list-item">Contacto</li>
        </ul>
    </section>
    <section class="footer__section">
        <h3 class="footer__section-title">Nosotros</h3>
        <ul class="footer__section-list">
            <li class="footer__section-list-item">Historia</li>
            <li class="footer__section-list-item">Sucursales</li>
            <li class="footer__section-list-item">Ética empresarial</li>
        </ul>
    </section>
    <section class="footer__registration">
        <h2 class="footer__registration-title">Registro</h2>
        <p class="footer__registration-description">Regístrate para recibir noticias, ofertas y lo último de nuestros productos por correo electrónico</p>
        <input type="email" class="footer__registration-input" placeholder="tucorreo@dominio.com">
        <button class="footer__registration-button">Inscribirse</button>
        <div class="footer__social-icons">
            <FacebookIcon class="footer__social-icon"/>
            <LinkedinIcon class="footer__social-icon"/>
            <YoutubeIcon class="footer__social-icon"/>
        </div>
    </section>
</footer>
<div class="bottom-bar">
    <a href="#" class="bottom-bar__link"><UpArrowIcon/> Ir a inicio</a>
    <span>© 2024 Copyright© Airon Tools</span>
</div>
