---
import '@components/testimonials/Testimonials.css'
---

<section class="testimonials">
    <article class="title">
        <h3>Lo que dicen de nosotros</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
    </article>
    <article class="testimonial">
        <h4>“¡Lorem ipsum dolor sit amet consectetur adipiscing elit!”</h4>
        <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit nisi, at condimentum vel ultricies nibh aliquam blandit dictum posuere, scelerisque morbi massa enim augue vitae sociis.”</p>
        <span>consectetur</span>
    </article>
    <article class="testimonial">
        <h4>“¡Lorem ipsum dolor sit amet consectetur adipiscing elit!”</h4>
        <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit nisi, at condimentum vel ultricies nibh aliquam blandit dictum posuere, scelerisque morbi massa enim augue vitae sociis.”</p>
        <span>consectetur</span>
    </article>
    <article class="testimonial">
        <h4>“¡Lorem ipsum dolor sit amet consectetur adipiscing elit!”</h4>
        <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit nisi, at condimentum vel ultricies nibh aliquam blandit dictum posuere, scelerisque morbi massa enim augue vitae sociis.”</p>        
        <span>consectetur</span>
    </article>
  
</section>