/* Base styles for the testimonials section */
.testimonials {
    padding: 2rem;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.title h3 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-style: italic;
}

.testimonial {
    border-radius: 0.5rem; /* Rounded corners */
    padding: 2rem;
    margin-bottom: 1.5rem;
}

.testimonial h4 {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.testimonial p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.testimonial span {
    display: block;
    font-size: 1rem;
    color: #80cbf2;
    text-align: right;
    font-weight: bold;
}

@media (min-width: 768px) {
    .testimonials {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    
    .testimonial:nth-of-type(1) {
        grid-column: 1 / -1;
    }
    
    .testimonial:nth-of-type(n+2) {
        grid-column: span 1;
    }
}

@media (min-width: 1200px) {
    .testimonials {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .testimonial:nth-of-type(1) {
        grid-column: 1 / -1;
    }
    
    .testimonial:nth-of-type(n+2) {
        grid-column: span 1;
    }
}
