/* Estilo de estadísticas */
.stats {
    background-color: #80CBF2;
    padding: 0.2rem;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

/* Elementos de estadísticas */
.stats__item {
    text-align: center;
    margin: 0.3125rem;
    color: #1a1a1a;
}

/* Títulos dentro de los elementos de estadísticas */
.stats__item-heading {
    font-size: clamp(1.5rem, 4vw, 2rem); /* Responsive font size */
    margin-top: 0;
    margin-bottom: 0.3125rem;
}

/* Párrafos dentro de los elementos de estadísticas */
.stats__item-text {
    margin: 0;
}
