---
import '@components/Stats/Stats.css'
---
<section class="stats">
    <div class="stats__item">
        <h2 class="stats__item-heading">+20 Años</h2>
        <p class="stats__item-text">Años de experiencia</p>
    </div>
    <div class="stats__item">
        <h2 class="stats__item-heading">+500 Modelos</h2>
        <p class="stats__item-text">Modelos de herramientas</p>
    </div>
</section>
