---
import '@components/Stats/Stats.css'
---
<section class="stats">
    <div class="stat-item">
        <h2>+20 Años</h2>
        <p>Años de experiencia</p>
    </div>
    <div class="stat-item">
        <h2>+500 Modelos</h2>
        <p>Modelos de herramientas</p>
    </div>
</section>